body {
  color: #f8eeee;
  display: flex;

  justify-content: center;
  flex-direction: column;
  background-color: rgb(28, 28, 28);
  font-size: 20px;
}

header {
    background: linear-gradient(#c87d21, #935555);
    text-align: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 20px;
}

a{
    font-size: 30px;
    padding: 20px;
    color: rgb(41, 39, 39);
    text-decoration: none;
}
li{
    display: inline;
}

a:hover{
    color: #935555;
    text-decoration: none;
}
p{
    font-size: 25px;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}


.car {
    border: 2px solid #935555;
    margin: 20px;
    padding: 15px;
    border-radius: 30px 0px 30px 0px;
}
.car img {
    max-width: 100%;
    height: auto;
    width: 640px;
    margin-top: 25px;
}
.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #d8c622 0%, #c87d21 61%, #d8c622 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    margin-left: 5%;
    
  }
  .gradient-button:hover {
    background-position: right center;
}